* {
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(245, 245, 232);
}
.hero {
    block-size: 100vh;
    inline-size: 100%;
    background-color: #1b1c36;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    block-size: 80px;
}

nav h1 {
    color: white;
    font-size: 25px;
}

.f-logo {
    display: flex;
    align-items: center;
    gap: 20px;

}

.logo {
    position: relative;


}

.last-img {
    position: absolute;
    inset-block-start: 15px;
    inset-inline-start: 15px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    inline-size: 40%;
}

.nav-links a {
    text-decoration: none;
    color: gray;

}

button {
    background-color: transparent;
    inline-size: 138px;
    block-size: 44px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}

.h-text {
    margin-block-start: 100px;
}

.h-text h4 {
    color: #EF6D58;
    margin-inline-start: 85px;
}

.h-t-img h1 {
    color: white;
    font-size: 60px;
    margin: 5px 5px 30px 85px;
    inset-block-start: 25px;
    z-index: 2;
    position: relative;

}

.h-t-img {
    position: relative;
}

.h-t-img img {
    position: absolute;
    inset-inline-start: 305px;
    z-index: 1;
    inline-size: 120px;
    block-size: 120px;
}

.h-text p {
    color: gray;
    margin-inline-start: 85px;
    margin-block-start: 10px;
    inline-size: 500px;
    line-height: 25px;
}

.h-text button {
    margin-inline-start: 85px;
    margin-block-start: 20px;
}
.h-b{
    background-color: #EF6D58;
    border: none;
}
.h-b2{
    border:none;
}
.h-l-img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block-start: 50px;
    margin-inline-start: 85px;
}
.h-l-img p{
    color: gray;
    font-size: 18px;
}

.h-l-img span{
    color: white;
    font-size: 18px;
}
.r-bg-img{
    position: absolute;
    inset-block-start: 210px;
    inset-inline-end: 160px;
    z-index: 0;
}
.r-bg-img img{
    inline-size: 300px;
    block-size: 300px;
}
.h-main-img{
    position: absolute;
    inset-block-start: 280px;
    inset-inline-end: 80px;
}
.h-main-img img{
    inline-size: 200px;
    block-size: 250px;
}
.h-m-img-2,.h-m-img-3{
    position: absolute;
    inset-block-start:120px;
    inset-inline-end: 370px;
}
.h-m-img-2 img ,.h-m-img-3 img{
    inline-size: 200px;
    block-size: 250px;
}
.h-m-img-3{
   inset-inline-end: 350px;
}

.h-m-img-4{
    position: absolute;
    inset-block-start: 460px;
    inset-inline-end: 310px;
}
.h-m-img-4 img{
    inline-size: 160px;
    block-size: 80px;
}

.h-m-img-5{
    position: absolute;
    inset-block-start: 390px;
    inset-inline-end: 440px;
   inline-size: 100px;
   block-size: 66px;
}

.h-m-img-6{
    position: absolute;
    inset-block-start: 560px;
    inset-inline-end: 250px;
    inline-size: 100px;
}
.h-m-img-7{
    position: absolute;
    inset-block-start: 170px;
    inset-inline-end: 230px;
}
.h-m-img-8{
    position: absolute;
    inset-block-start: 190px;
    inset-inline-end: 250px;
}
.h-m-img-7 img{
    inline-size:70px;
    block-size: 70px;
}
.h-m-img-8 img{
    inline-size: 30px;
    block-size: 30px;
}
.h-m-img-9{
    position: absolute;
    inset-block-start: 190px;
    inset-inline-end: 100px;
}
.h-m-img-9 img{
    inline-size:90px;
    block-size: 70px;
}

.two {
margin-block-start: 50px;

    
}
.t-1{
    display: flex;
    justify-content: space-around;
    margin-block-end: 50px;
}
 hr{
    border-color: #F3D1BF;
  margin-inline-start: 100px;
  margin-inline-end: 90px;
}
.t-1 img{
    inline-size: 80px;
    block-size: 30px;
}
.t-img{
    margin-block-start: 60px;
    margin-inline-start: 130px;
}
.t-img{
    position: relative;
    z-index: -1;
}
.img-1{
    position: absolute;
    z-index: -1;
}
.img-2{
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: -50px;
  
}
.img-3{
    position: absolute;
    inset-block-start: 120px;
    inset-inline-start: 40px;
}
.img-4{
    position: absolute;
    inset-block-start: 2px;
    inset-inline-start: 190px;
}
.img-5{
    position: absolute;
    inset-block-start: -20px;
    inset-inline-start: 290px;
    z-index: -1;
  
}
.img-6{
    position: absolute;
    inset-block-start: 260px;
    inset-inline-start: -80px;
}
.t-text{
 
    display: flex;
    justify-content:end;
    flex-direction: column;
    
    margin-block-start: 70px;
    position: absolute;
    inset-inline-end: 100px;
}
.t-text h1{
    font-size: 50px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}
.t-text h4{
    color: #d16e5e;
}
.t-text p{
    color: gray;
    inline-size: 400px;
    line-height: 25px;
    margin-block-start: 15px;
    margin-block-end: 15px;
}
.t-c{
    inline-size: 100%;
    block-size: 600px;
  
}

.div{
  display: flex;
  justify-content:center;
  /* gap: 200px; */
}
.box{
    inline-size: 300px;
    block-size: 70px;
    border: 2px solid #F3D1BF;
   padding: 30px 20px 10px 20px ;
    gap: 10px;
}

.p-1{
    display: flex;
    justify-content: space-around;
    margin-block-end: 50px;
}

.p-2{
    margin-block-start: 140px;
}
.p-2 h4{
    color:#EF6D58 ;
    margin-block-end: 15px;
}
.p-2 h1 ,h5{
    color: #391400;
}
.p-2 p{
    color: #333333;
    inline-size: 400px;
    line-height: 25px;
    margin-block-start: 15px;
}

.p-3{
    margin-block-start: 170px;
    margin-inline-end: 100px;
    gap: 30px;
   
}
.p-3 h1{
    font-size:50px;
  
}
.disply{
    display: flex;
   align-items: center;
}
.disply h1,p {
    color: #391400;
}
.video{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-block-start: 80px;
    gap: 170px;

}

.v-div{
   
}

.v-text{
    max-inline-size: 400px;
}
.v-text h4{
    color: #EF6D58;
    margin-block-end: 15px;
}
.v-text h1{
    font-size: 40px;
    margin-block-end: 15px;
}
.v-text p {
    color: #391400;
    line-height: 25px;
}

ul li{
    margin-block-start: 10px;
     list-style: none;
     display: flex;
     align-items: center;
     color: #333333;
     line-height: 35px;
}
ul li img{
    inline-size: 20px;
    block-size: 20px;
    margin-inline-end: 10px;
 
}
.t-v-text h4{
    color: #EF6D58;
    margin-block-end: 15px;
}
.t-v-text h1{
    font-size: 40px;
    margin-block-end: 15px;
}
.t-v-text{
    max-inline-size: 350px;
}

.text-video{
    margin: 200px 80px 50px 150px ;
   display: flex;
   gap: 200px;
}

.t-v-img{
    position: relative;

}
/* .t-v-img img{
    inline-size: 350px;
    block-size: 250px;
} */

.t-v-img-1{
    position: absolute;
    inset-block-start: -50px;
    inset-inline-start: -20px;
    z-index: -2;

}
.t-v-img-2{
    position: absolute;
    inset-block-start: 100px;
    inset-inline-start: 40px;

}
.t-v-img-3{
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;

}
.t-v-img-4{
    position: absolute;
    inset-block-start: 210px;
    inset-inline-start: -10px;
    z-index: -1;

}
.t-v-img-5{
    position: absolute;
    inset-block-start: -30px;
    inset-inline-start: 170px;
    z-index: -1;
}
.t-v-img-6{
    position: absolute;
    inset-block-start: -60px;
    inset-inline-start: 50px;

}
h4{
    color: #EF6D58;
}

.t-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-end: 80px;
   margin-block-start: 170px;
}


.t-c-t{
    max-inline-size: 300px;
    margin-inline-start: 60px;
}
.t-c-t h5{
  margin-block-start: 10px;

 line-height: 20px;

}
.t-c-t p{
  margin-block-start: 10px;
  margin-block-end: 20px;
 line-height: 20px;

}
.t-c-c{
  display:flex;
  align-items: end;
 
  
}

.card-1{
    inline-size: 260px;
    block-size: 260px;
    position: relative;
    background-color: white;
      border: 1px solid #F3D1BF;
 
  
}
.card-1 h3{
    margin-inline-start: 25px;
    color: #391400;
    
}
.card-1 p{
    margin-inline-start: 25px;
    margin-block-start: 20px;
    color:  #333333;
}

.c-img-1{
    position: relative;
    inline-size: 60px;
    block-size: 60px;
    margin: 20px;
}
.c-img-2{
    position: absolute;
    inset-block-start: 35px;
    inset-inline-start: 39px;
    inline-size: 20px;
    block-size: 20px;
}
.card-2{
    inline-size: 260px;
    block-size: 200px;
    border: 1px solid #F3D1BF;
   
}

.card-2 h3{
    margin: 50px 40px 5px 40px;
}
.card-2 p{
    margin: 10px 40px 10px 40px;
    color: #333333 ;
}


/* section desing   */
.design{
display: flex;
justify-content:space-around ;
align-items: center;
margin-block-end: 50px;
 
}

.pojison{
    position: relative;
 margin-inline-start: 20px;
  
}


.d-img-2{
    position: absolute;
    inset-block-start: 190px;
    inset-inline-start: 60px;
}

.d-img-3{
    position: absolute;
    inset-block-start: 220px;
    inset-inline-start:280px ;

}
.d-img-4{
    position: absolute;
    inset-block-start: 60px;
    inset-inline-start:15px ;

}
.d-img-5{
    position: absolute;
    inset-block-start: 250px;
    inset-inline-start:190px ;

}
.d-img-6{
    position: absolute;
    inset-block-start: 90px;
    inset-inline-start: 220px;
}
.d-img-7{
    position: absolute;
    inset-block-start: 60px;
    inset-inline-start: 260px;
    z-index: -1;
}
.d-text-c{
    max-inline-size: 300px;
  
}
.d-text-c h1{
     font-size: 40px;
    margin-block-end: 15px;
    margin-block-start: 15px;

}
.d-text-c ul li  p{
            color: #333333;
            font-size: small;
            line-height:19px;
}
.d-text-c ul li img{
    inline-size: 30px;
    block-size: 30px;

}

.d-text-c p{
    margin-block-start: 15px;
}

/* card-container */

.card-c-text{
    max-inline-size:300px;
    margin-inline-start: 130px;
    margin-block-start: 150px;
}
.card-c-text h1{
    color: #391400;
}

.card-section{
    display: flex;
    justify-content: center;
    margin: 80px  130px;
   
}
.card-s-c-1{
       display: flex;
       flex-direction: column;
       max-inline-size: 290px;
       block-size: 310px;
       border: 2px solid #F3D1BF;
       padding: 40px;
}

.icon{
   position: relative;
    inline-size: 60px;  
    block-size: 60px;       
    margin-block-end: 40px;
   display: flex;                
   /* ai help */
    align-items: center;
    justify-content: center;
}
 .re{
   position:relative;

}
 .pos{
 position: absolute;
 inset-inline-start: 15px;

}
.card-s-c-1 h2{
    color: #391400;
    margin-block-end: 20px;
}
.card-s-c-1 p{
    color: #333333;
    line-height: 25px;
    margin-block-end: 15px;
}

/* section dj -1 */

.dj{
    background-color: #1b1c36;
    margin-block-start: 20px;

}
.dj-1-all-text{
    display: flex;
      flex-direction: column;
    justify-content: center;

}
.dj-1-text h1{
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
     color: azure;
  

}
.dj-1-text h4{
    display: flex;
    justify-content: center;
    margin-block-start: 30px;
   
  

}

.dj-1-ul{
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-block-end: 20px;
}
sup{
   margin-block-end: 20px;
}
.grid-1{
   margin:10px 10px 20px 130px ;
  
   display: flex;
   flex-wrap: wrap;


}
.g-img-1{
    background-image: url(/img/Bitmap\ \(20\).png);
    height: 400px; 
    width: 400px;
    margin-bottom: 15px;
     margin-right: 15px;
    position: relative;
}
.g-img-2{
    background-image: url(/img/Bitmap\ \(21\).png);
    height: 400px;
    width: 600px;
    position: relative;
}
.g-img-3{
    background-image: url(/img/Bitmap\ \(22\).png);
    height: 400px;
    width: 600px;
    position: relative;
}
.g-img-4{
    background-image: url(/img/Bitmap\ \(24\).png);
    height: 400px;
    width: 400px;
    margin-left: 15px;
    position: relative;
}

.grid-1 h4{
    color: #391400;
    background-color: azure;
    width: 90px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 50px;
}
.grid-1 h1{
     position: absolute;
    bottom: 50px;
    left: 50px;
    color: azure;

}

.g-btn-1{
    display: flex;
    justify-content: center;
}

.btn10{
    border: 1px solid gray;
    margin-top: 20px;
}



.grid-1-card{
    margin-left: 115px;
    max-width: 80%;
    height: 300px;
    background-color: #FDF0E9;
    margin-top: 167px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.grid-1-c-text{
    max-width: 200px;
    margin-left: 20px;
}


.grid-1-c-text h3{
  margin-top: 10px;
  margin-bottom: 18px;
   

}


.btn-99{
    background-color: #EF6D58;
    border: none;
} 
.grid-1-c-img{
position: relative;


}

.g-1-i-1-1{
    position: absolute;
    left: 20px;
    top: -75px;
}
.g-1-i-1-2{
    position:absolute;
    left: 75px;
    top: -20px;
}
.grid-1-c-img-2{
    position: relative;
    top: -45px;
  
    z-index: 2;
  
   
 
}
.g-1-i-1-3{
    position: absolute;
    right: 20px;
    top: 37px;
    z-index: 1;
}

.card-c-3-text{
  
    display: flex;
   flex-direction: column;
   align-items:center ;
}
.card-c-3-text h1{
    color: #FDF0E9;


}
.card-c-3-text  span{
    margin-left: 20px;
}



.card-c-3-card{
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-top: 40px;
}
.card-c-3-hed{
    max-width: 300px;
    height: 380px;
    border: 1px solid gray;
  
}
.card-c-3-nav{
    display: flex;
    padding: 25px 20px 10px 30px;
    gap: 10px;
}
.card-c-3-nav h1{
    font-size:60px;
     
}
.card-c-3-nav h1,
.card-c-3-nav h2{
            color: aliceblue;
}

.card-c-3-hed ul li  {
    padding: 0px 20px 10px 30px;
}
.card-c-3-hed ul li img{
    width: 15px;
    height: 15px;
}
.card-c-3-hed ul li p{
    color: #FDF0E9;
}
.card-c-3-hed hr{
    margin-left:30px ;
    margin-right: 30px;

 
}
.h3{
    color:#FDF0E9;
    margin:20px 20px 10px 25px  ;

}
.p-class{
     color: gray;
     line-height: 30px;
     margin-left: 25px;
}
 .button{
    border: none;
    margin-top: 30px;

}
.b-100{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.b-101{
    border: 1px solid gray;
}


/* team section */
.team{
    height: 500px;
}
.team-text{
    margin-top: 50px;

}
.team-text h1{
    color: #FDF0E9;
    font-size: 40px;
    margin-left: 124px;
}
.team-text h4{
      margin-left: 124px;
}
.team-b{
    display: flex;
    justify-content: end;
    margin-right: 120px;
    margin-bottom: 10px;
      gap: 10px;
}

.t-b-1{
  max-width: 30px;
  height: 30px;
  border-radius: 20px; 
}
.team-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.t-b-c{
    border: 1px solid gray;
    max-width:350px ;
    height: 255px;
    border-radius: 10px;
}
.t-b-c img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;

    
}
.t-b-n h3{
   color: #FDF0E9;
}
.t-b-n p{
   color: gray;
}
   

/* last div */

.last-div{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 100px;
height: 600px;;

}
.last-div-img{
    background-image: url(/img/Bitmap\ \(30\).png);
    background-repeat: no-repeat;
    background-size:500px ;
    margin-left: 10px;
  
  
}
.last-div-text{
    max-width:360px ;
    position: relative;
    z-index: 2;
}
.last-div-text h1{
    color: #FDF0E9;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.last-div-text h5{
    color: #FDF0E9;
    margin-bottom: 8px;
}
.last-div-text p{
    color: gray;
}
.text-bg-img{
    position: absolute;
    top: -20px;
    right: 55px;
    z-index:-1;
}

/* revew section */


.s-r-c{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.s-r-c-text h1{
    max-width:200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #391400;
  
}
.s-r-c-text span{

    display: flex;
    align-items: center;
}
.s-r-c-text h4{

    display: flex;
    align-items: center;
    justify-content: center;
}
.s-r-c-card-c{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.s-r-c-card-1,
.s-r-c-card-2,
.s-r-c-card-3,
.s-r-c-card-4{
    max-width: 500px;
    border: 1px solid #F3D1BF;
}
.s-r-c-card-c ul {
   display: flex;
   margin: 30px 30px 20px ;
  
}

.s-r-c-card-1 p,
.s-r-c-card-2 p,
.s-r-c-card-3 p,
.s-r-c-card-4 p{
    color: rgb(75, 74, 74);
    margin: 30px 20px 25px 35px;

}
.s-r-c-card-1{
    height: 360px;
}
.s-r-c-card-2{
    height: 300px;
}
.s-r-c-card-3{
    height: 280px;
}
.s-r-c-card-4{
    height: 300px;
margin-bottom: 50PX;
}

.s-img-{
    width:50px ;
    height:50px ;
}
.line{
    line-height: 0%;
}
.u-l-img-2{
    display: flex;

    margin-left: 60px;
}
.d-100 ul li,.d-100 img{
    display: flex;
      justify-content: flex-end;
    margin-top: 20px;
}
.r-btn{
    display:flex ;
    justify-content: center;
     color: #000;
    align-items: center;
    border: 1px solid #F3D1BF;
}
.r-b-1{
    display: flex;
    justify-content: center;
    margin: 30px;
}